<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>api test</title>
</head>
<body>
    <h3>GET 전송</h3>
    <form action = "/api/res1" method = "get">
        이름: <input type = "text" name = "name"/>
        <br>
        나이: <input type = "number" name = "age"/>
        <button type = "submit">전송</button>
    </form>
    <br>
    <a href = "/api/res2/hyein/00">/api/res2/hyein/00</a>
    <a href = "/api/res2/hyein/00">/api/res2/hyein</a>
    <br>

    <h3>POST 전송</h3>
    <form action = "/api/res3" method = "post">
        이름: <input type = "text" name = "name"/>
        <br>
        나이: <input type = "number" name = "age"/>
        <button type = "submit">전송</button>
    </form>
</body>
</html>