<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이미지 사용해보기</title>
</head>
<body>
    <h3>이미지 불러오기</h3>
    <img src="https://bucket-hyein.s3.ap-northeast-2.amazonaws.com/%EC%95%84%EC%9D%B4%EC%BD%98+%EA%B3%B0%EB%8F%8C%EC%9D%B4.png" alt="곰돌이" width="200px" height="200px">
    <h3>이미지 업로드</h3>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" id="image">
        <button type="submit">업로드</button>
    </form>

    <% if (imageURL !== "") {%>
    <img src="<%=imageURL%>" alt="업로드이미지" width="200px" height="200px">
    <% } %>
</body>
</html>