@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

@font-face {
    font-family: 'seolleimcool-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.font-link{
    font-family: 'Diphylleia', serif;
}

.font-import{
    font-family: 'Single Day', cursive;
}

.noonnu{
    font-family: 'seolleimcool-SemiBold', serif;
}

.sentences{
    font-weight: 700;
    font-size: 16px;
    text-align: center;

    /* text decoration */
    text-decoration: line-through;
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: none;

    /* line-height */
    /* line-height값과 height 값을 맞추면 중앙정렬 가능 */
    line-height: 2;
    line-height: 32px;
}

a{
    text-decoration: none;
    color: black; 
  
  /* 색깔 지정 방법 */
  /* 1. 색깔 이름 작성: red, blue, pink.. */
  /* 2. rgb(-,-,-) -에는 0부터 255까지의 숫자가 올 수 있음 */
  /* #------ : #c358ab 두자리씩 rgb를 나타냄, 16진수로 이루어진 rgb값 (0~9와 a,b,c,d,e,f로 이루어진 수)
  rgb 네번째에 0.5 넣으면 연하게 가능*/
    color: rgb(0, 0, 0, 0.5);

}
