<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습2. axios post 로그인</title>
    <!-- jQuery CDN > ajax 사용 -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <h2>로그인</h2>
    <form name="register" method="post">
        <label>
            id:
            <input type="text" name="id" />
        </label>
        <br />
        <label>
            password:
            <input type="password" name="pw" />
        </label>
        <br />

        <button type="button" onclick="axiosPost()">로그인</button>

        <!-- 동적폼 전송 결과를 보여줄 곳 -->
        <div class="result"></div>
    </form>

    <script>
        const resultBox = document.querySelector('.result');

        const userid = "admin";
        const userpw = "1234";

        async function axiosPost() {
            const form = document.forms["register"];

            const data = {
                id: form.id.value,
                pw: form.pw.value,
            };

            if (data.id == userid && data.pw == userpw) {
                await axios({
                    method: "post",
                    url: "/axios",
                    data: data,
                })
                    .then(function (response) {
                        console.log(response.data);

                        resultBox.style.color = 'blue';
                        resultBox.textContent = `Post axios 요청 완료! 로그인에 성공했습니다!`;
                    })
            }

            else if (data.id == '' || data.pw == '') {
                resultBox.style.color = 'red';
                resultBox.textContent = "error.. 로그인에 실패했습니다.";
            }

            else {                
                resultBox.style.color = 'red';
                resultBox.textContent = "error.. 로그인에 실패했습니다.";}

        }
    </script>
</body>

</html>